source/org/miradi/resources/xml/ConProMiradi.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  $LastChangedBy: ecoffman $ 
  $LastChangedDate: 2008-04-02 10:55:24 -0400 (Wed, 02 Apr 2008) $
  $LastChangedRevision: 2104 $ 
-->
<!--
  
  Datatyping reference
  xsd:boolean -  Its value space is true and false. Its lexical space accepts true, false, 1 and 0
  xsd:date -     Its lexical space is the ISO 8601 extended format [-]CCYY-MM-DD[Z|(+|-)hh:mm] with 
                 an optional time zone. 
  xsd:decimal -  The set of all decimal numbers with arbitrary lengths. Its lexical space allows any
                 number of insignificant leading and, after the decimal point, trailing zeros. A period
                 is the only acceptable decimal seperator. No thousands seperators allowed.
  xsd:integer -  Integer is derived from decimal by fixing the value of fractionDigits to be 0 and disallowing 
                 the trailing decimal point. This results in the standard mathematical concept of the integer 
                 numbers. The value space of integer is the infinite set {...,-2,-1,0,1,2,...}. 
  xsd:nonNegativeInteger - 
                 nonNegativeInteger is derived from integer by setting the value of
                 minInclusive to be 0. This results in the standard mathematical concept of the 
                 non-negative integers. The value space of nonNegativeInteger is the infinite 
                 set {0,1,2,...}.
  xsd:positiveInteger - 
                 positiveInteger is derived from nonNegativeInteger by setting the value of
                 minInclusive to be 1. This results in the standard mathematical concept of the 
                 positive integer numbers. The value space of positiveInteger is the infinite 
                 set {1,2,...}. 
  xsd:string -   The value space of string is the set of finite-length sequences of characters 
                 (as defined in XML 1.0 (Second Edition)) that match the Char production from 
                 XML 1.0 (Second Edition). A character is an atomic unit of communication; it is not 
                 further specified except to note that every character has a corresponding Universal 
                 Character Set code point, which is an integer.
  xsd:token -    The value space of token is the set of strings that do not contain the carriage return (#xD), 
                 line feed (#xA) nor tab (#x9) characters, that have no leading or trailing spaces (#x20) and 
                 that have no internal sequences of two or more spaces. The lexical space of token is the set 
                 of strings that do not contain the carriage return (#xD), line feed (#xA) nor tab (#x9) 
                 characters, that have no leading or trailing spaces (#x20) and that have no internal sequences 
                 of two or more spaces.
-->
<!--
  Notes:
     ? - Optional
     * - 0 or more
     + - 1 or more
  
     & - interleave
  
-->
<!--
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
-->
<!-- Current issues as raised by either Kevin (for Miradi) or Eric (for ConPro): -->
<!--
  1. How grandiose are our aims?
      For now, we will produce one data exchange that will work for both Miradi and ConPro. 
      It will transport only those fields that will be needed in the data exchange.
-->
<!--
  2. Relational, or Object-oriented
      Eric will look closer to if he can make the structure less 'flat.'
-->
<!--
  3. Export calculated values?
      No, see #1. We can revisit this when it is actually needed.
-->
<!--
  4. Common terminology
      We should use the vocabulary that is used by the community. And, as such, ConPro will
      call "Stategic Actions" and "Actions" by the community known name of "Strategies/Strategy."
-->
<!--
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
-->
<grammar ns="http://services.tnc.org/schema/conservation-project/" xmlns:cp="http://services.tnc.org/schema/conservation-project/0.1" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    
    
    
  -->
  <start>
    <ref name="conservation_project.element"/>
  </start>
  <!--
    
    
  -->
  <define name="conservation_project.element">
    <element name="cp:conservation_project">
      <documentation xmlns="">XML Schema definition to represent a Conservation Project.</documentation>
      <interleave>
        <ref name="document_exchange.element"/>
        <ref name="project_summary.element"/>
        <optional>
          <ref name="targets.element"/>
        </optional>
        <optional>
          <ref name="key_attributes.element"/>
        </optional>
        <optional>
          <ref name="viability.element"/>
        </optional>
        <optional>
          <ref name="threats.element"/>
        </optional>
        <optional>
          <ref name="objectives.element"/>
        </optional>
        <optional>
          <ref name="strategies.element"/>
        </optional>
        <optional>
          <ref name="indicators.element"/>
        </optional>
      </interleave>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="document_exchange.element">
    <optional>
      <element name="cp:document_exchange">
        <documentation xmlns="">The data exchange needs to provide a way to let another application 
know if the export was successful or not. If it wasn't, an error message 
should be provided. The 'status' and 'error_msg' attributes take care of this 
and are noted in the 'cp:conservation-project' root element. 
 
These attributes are useful to let Miradi know there was an error producing the 
XML in ConPro when the data was obtained by some more automatic way (Web Service). 
An example of some automatic way is when a user in Miradi wants to import their 
data from ConPro via a direct import method. Miradi might provide a function where 
the user could enter the ConPro ID and Miradi fetches the data without the user 
having to do the actual downloading from ConPro and uploading to Miradi. </documentation>
        <interleave>
          <attribute name="status">
            <ref name="vocabulary_doc_exchange_status"/>
          </attribute>
          <zeroOrMore>
            <element name="cp:error_msg">
              <text/>
            </element>
          </zeroOrMore>
        </interleave>
      </element>
    </optional>
  </define>
  <!--
    
    
    
  -->
  <define name="project_summary.element">
    <element name="cp:project_summary">
      <interleave>
        <attribute name="share_outside_organization">
          <data type="boolean"/>
        </attribute>
        <zeroOrMore>
          <element name="project_id">
            <interleave>
              <attribute name="context">
                <data type="token"/>
              </attribute>
              <data type="token"/>
            </interleave>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="cp:parent_project_id">
            <interleave>
              <attribute name="context">
                <data type="token"/>
              </attribute>
              <data type="token"/>
            </interleave>
          </element>
        </zeroOrMore>
        <element name="cp:name">
          <data type="token"/>
        </element>
        <optional>
          <element name="cp:start_date">
            <data type="date"/>
          </element>
        </optional>
        <optional>
          <ref name="area_size.element"/>
        </optional>
        <optional>
          <ref name="location.element"/>
        </optional>
        <optional>
          <element name="cp:description_comment">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="cp:goal_comment">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="cp:planning_team_comment">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="cp:lessons_learned">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="cp:stressless_threat_rank">
            <ref name="vocabulary_ranking_vhhml"/>
          </element>
        </optional>
        <optional>
          <element name="cp:project_threat_rank">
            <ref name="vocabulary_ranking_vhhml"/>
          </element>
        </optional>
        <optional>
          <element name="cp:project_viability_rank">
            <ref name="vocabulary_ranking_vhhml"/>
          </element>
        </optional>
        <zeroOrMore>
          <ref name="team_member.element"/>
        </zeroOrMore>
        <zeroOrMore>
          <element name="cp:threat_taxonomy_code">
            <ref name="iucn_threat_taxonomy"/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="cp:ecoregion_code">
            <ref name="vocabulary_ecoregion_code"/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="cp:country_code">
            <ref name="vocabulary_country_code"/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="cp:ou_code">
            <ref name="vocabulary_ou_code"/>
          </element>
        </zeroOrMore>
        <element name="cp:exporter_name">
          <data type="token"/>
        </element>
        <element name="cp:exporter_version">
          <data type="token"/>
        </element>
        <element name="cp:data_export_date">
          <data type="date"/>
        </element>
      </interleave>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="area_size.element">
    <element name="cp:area_size">
      <interleave>
        <attribute name="unit">
          <ref name="vocabulary_area_unit"/>
        </attribute>
        <data type="nonNegativeInteger"/>
      </interleave>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="location.element">
    <element name="cp:geospatial_location">
      <interleave>
        <attribute name="type">
          <ref name="vocabulary_geospatial_type"/>
        </attribute>
        <optional>
          <element name="cp:latitude">
            <data type="decimal"/>
          </element>
        </optional>
        <optional>
          <element name="cp:longitude">
            <data type="decimal"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="team_member.element">
    <element name="cp:team_member">
      <interleave>
        <oneOrMore>
          <element name="role">
            <ref name="vocabulary_team"/>
          </element>
        </oneOrMore>
        <element name="foaf:Person">
          <documentation xmlns="">FOAF Vocabulary Specification 0.91 
http://xmlns.com/foaf/spec/</documentation>
          <interleave>
            <optional>
              <element name="foaf:name">
                <data type="token"/>
              </element>
            </optional>
            <optional>
              <element name="foaf:givenname">
                <data type="token"/>
              </element>
            </optional>
            <optional>
              <element name="foaf:surname">
                <data type="token"/>
              </element>
            </optional>
            <optional>
              <element name="foaf:mbox">
                <data type="token"/>
              </element>
            </optional>
            <optional>
              <element name="foaf:phone">
                <data type="token"/>
              </element>
            </optional>
            <optional>
              <element name="foaf:Organization">
                <data type="token"/>
              </element>
            </optional>
          </interleave>
        </element>
      </interleave>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="targets.element">
    <element name="cp:targets">
      <oneOrMore>
        <element name="cp:target">
          <interleave>
            <optional>
              <attribute name="sequence">
                <data type="positiveInteger"/>
              </attribute>
            </optional>
            <attribute name="id">
              <ref name="vocabulary_id"/>
            </attribute>
            <element name="cp:name">
              <data type="token"/>
            </element>
            <optional>
              <element name="cp:description">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:description_comment">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:target_viability_comment">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:target_viability_rank">
                <ref name="vocabulary_ranking_vhhml"/>
              </element>
            </optional>
            <optional>
              <element name="cp:habitat_code">
                <ref name="iucn_habitat_taxonomy"/>
              </element>
            </optional>
            <zeroOrMore>
              <element name="cp:threat_taxonomy_code">
                <ref name="iucn_threat_taxonomy"/>
              </element>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="stresses_target.element"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="stresses_threat.element"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="nested_target.element"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="threat_target_association.element"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="strategy_threat_association.element"/>
            </zeroOrMore>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="stresses_target.element">
    <element name="cp:stresses_target">
      <interleave>
        <attribute name="sequence">
          <data type="nonNegativeInteger"/>
        </attribute>
        <element name="cp:stress_name">
          <data type="token"/>
        </element>
        <optional>
          <element name="cp:stress_severity">
            <ref name="vocabulary_ranking_vhhml"/>
          </element>
        </optional>
        <optional>
          <element name="cp:stress_scope">
            <ref name="vocabulary_ranking_vhhml"/>
          </element>
        </optional>
        <optional>
          <element name="cp:stress_to_target_rank">
            <ref name="vocabulary_ranking_vhhml"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="stresses_threat.element">
    <!-- WHERE IS THE THREAT ID????? -->
    <element name="cp:stress_threat">
      <interleave>
        <optional>
          <element name="cp:contrib_rank">
            <ref name="vocabulary_ranking_vhhml"/>
          </element>
        </optional>
        <optional>
          <element name="cp:irreversible_rank">
            <ref name="vocabulary_ranking_vhhml"/>
          </element>
        </optional>
        <optional>
          <element name="cp:stress_threat_to_target_rank">
            <ref name="vocabulary_ranking_vhhml"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="nested_target.element">
    <element name="cp:nested_target">
      <interleave>
        <attribute name="sequence">
          <data type="nonNegativeInteger"/>
        </attribute>
        <element name="cp:name">
          <data type="token"/>
        </element>
        <optional>
          <element name="cp:comment">
            <text/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="threat_target_association.element">
    <element name="cp:threat_target_association">
      <interleave>
        <element name="cp:threat_id">
          <data type="nonNegativeInteger"/>
        </element>
        <optional>
          <element name="cp:threat_to_target_rank">
            <ref name="vocabulary_ranking_vhhml"/>
          </element>
        </optional>
        <optional>
          <element name="cp:threat_severity">
            <ref name="vocabulary_ranking_vhhml"/>
          </element>
        </optional>
        <optional>
          <element name="cp:threat_scope">
            <ref name="vocabulary_ranking_vhhml"/>
          </element>
        </optional>
        <optional>
          <element name="cp:threat_irreversibility">
            <ref name="vocabulary_ranking_vhhml"/>
          </element>
        </optional>
        <optional>
          <element name="cp:threat_target_comment">
            <text/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="strategy_threat_association.element">
    <element name="cp:strategy_threat_association">
      <interleave>
        <element name="strategy_id">
          <data type="nonNegativeInteger"/>
        </element>
        <element name="threat_id">
          <data type="nonNegativeInteger"/>
        </element>
      </interleave>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="key_attributes.element">
    <element name="cp:key_attributes">
      <oneOrMore>
        <element name="cp:key_attribute">
          <interleave>
            <attribute name="id">
              <ref name="vocabulary_id"/>
            </attribute>
            <element name="cp:name">
              <data type="token"/>
            </element>
            <element name="cp:category">
              <ref name="vocabulary_key_ecological_attribute_category"/>
            </element>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="viability.element">
    <element name="cp:viability">
      <oneOrMore>
        <element name="cp:viability_assessment">
          <interleave>
            <element name="cp:target_id">
              <data type="nonNegativeInteger"/>
            </element>
            <element name="cp:indicator_id">
              <data type="nonNegativeInteger"/>
            </element>
            <optional>
              <element name="cp:kea_id">
                <data type="nonNegativeInteger"/>
              </element>
            </optional>
            <optional>
              <element name="cp:indicator_description_poor">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:indicator_description_fair">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:indicator_description_good">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:indicator_description_very_good">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:current_indicator_status_viability">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:current_viability_rating">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:desired_viability_rating">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:current_rating_date">
                <data type="date"/>
              </element>
            </optional>
            <optional>
              <element name="cp:desired_rating_date">
                <data type="date"/>
              </element>
            </optional>
            <optional>
              <element name="cp:confidence_current_rating">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:kea_and_indicator_comment">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:indicator_rating_comment">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:current_rating_comment">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:desired_rating_comment">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="cp:viability_record_comment">
                <text/>
              </element>
            </optional>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="threats.element">
    <element name="cp:threats">
      <oneOrMore>
        <element name="cp:threat">
          <interleave>
            <attribute name="id">
              <ref name="vocabulary_id"/>
            </attribute>
            <element name="cp:name">
              <data type="token"/>
            </element>
            <optional>
              <element name="cp:taxonomy_code">
              	<text/>
              </element>
            </optional>
            <optional>
              <element name="cp:threat_to_project_rank">
                <ref name="vocabulary_ranking_vhhml"/>
              </element>
            </optional>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="objectives.element">
    <element name="cp:objectives">
      <oneOrMore>
        <element name="cp:objective">
          <interleave>
            <attribute name="id">
              <ref name="vocabulary_id"/>
            </attribute>
            <zeroOrMore>
              <element name="indicator_id">
                <data type="nonNegativeInteger"/>
              </element>
            </zeroOrMore>
            <element name="cp:name">
              <data type="token"/>
            </element>
            <optional>
              <element name="cp:comment">
                <text/>
              </element>
            </optional>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="strategies.element">
    <element name="cp:strategies">
      <oneOrMore>
        <element name="cp:strategy">
          <interleave>
            <attribute name="id">
              <ref name="vocabulary_id"/>
            </attribute>
            <zeroOrMore>
              <element name="viability_id">
                <data type="nonNegativeInteger"/>
              </element>
            </zeroOrMore>
            <zeroOrMore>
              <element name="objective_id">
                <data type="nonNegativeInteger"/>
              </element>
            </zeroOrMore>
            <element name="cp:name">
              <data type="token"/>
            </element>
            <optional>
              <element name="cp:taxonomy_code">
                <ref name="iucn_strategy_taxonomy"/>
              </element>
            </optional>
            <optional>
              <element name="cp:leverage">
                <ref name="vocabulary_ranking_vhhml"/>
              </element>
            </optional>
            <optional>
              <element name="cp:feasibility">
                <ref name="vocabulary_ranking_vhhml"/>
              </element>
            </optional>
            <optional>
              <element name="cp:overall_rank">
                <ref name="vocabulary_ranking_vhhml"/>
              </element>
            </optional>
            <optional>
              <element name="cp:selected">
                <data type="boolean"/>
              </element>
            </optional>
            <optional>
              <element name="cp:comment">
                <text/>
              </element>
            </optional>
            <optional>
              <ref name="activities.element"/>
            </optional>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="activities.element">
    <element name="cp:activities">
      <oneOrMore>
        <element name="cp:activity">
          <interleave>
            <element name="cp:name">
              <data type="token"/>
            </element>
            <optional>
              <element name="cp:start_date">
                <data type="date"/>
              </element>
            </optional>
            <optional>
              <element name="cp:end_date">
                <data type="date"/>
              </element>
            </optional>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="indicators.element">
    <element name="cp:indicators">
      <oneOrMore>
        <element name="cp:indicator">
          <interleave>
            <attribute name="id">
              <ref name="vocabulary_id"/>
            </attribute>
            <element name="cp:name">
              <data type="token"/>
            </element>
            <optional>
              <element name="cp:methods">
                <data type="token"/>
              </element>
            </optional>
            <optional>
              <element name="cp:priority">
                <ref name="vocabulary_priority_vhhml"/>
              </element>
            </optional>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>
  <!--
    
    
    
  -->
  <define name="vocabulary_area_unit">
    <value>hectares</value>
  </define>
  <define name="vocabulary_country_code">
    <value>[A-Z]{3}</value>
  </define>
  <define name="vocabulary_doc_exchange_status">
    <choice>
      <value>success</value>
      <value>warning</value>
      <value>fail</value>
    </choice>
  </define>
  <define name="vocabulary_ecoregion_code">
    <value>[123][\d]{4}</value>
  </define>
  <define name="vocabulary_geospatial_type">
    <value>point</value>
  </define>
  <!-- vocabulary_id = "[0-9]+(\.[0-9]*)?" -->
  <define name="vocabulary_id">
    <data type="double"/>
  </define>
  <define name="vocabulary_key_ecological_attribute_category">
    <choice>
      <value>Condition</value>
      <value>Landscape Context</value>
      <value>Size</value>
    </choice>
  </define>
  <define name="vocabulary_ou_code">
    <value>\S{5}</value>
  </define>
  <define name="vocabulary_priority_vhhml">
    <choice>
      <value>Very High</value>
      <value>High</value>
      <value>Medium</value>
      <value>Low</value>
    </choice>
  </define>
  <define name="vocabulary_rating_vggfp">
    <choice>
      <value>Very Good</value>
      <value>Good</value>
      <value>Fair</value>
      <value>Poor</value>
    </choice>
  </define>
  <define name="vocabulary_ranking_vhhml">
    <choice>
      <value>Very High</value>
      <value>High</value>
      <value>Medium</value>
      <value>Low</value>
    </choice>
  </define>
  <define name="vocabulary_status">
    <choice>
      <value>Planned</value>
      <value>Off Track</value>
      <value>On Track</value>
      <value>Completed</value>
    </choice>
  </define>
  <define name="vocabulary_team">
    <choice>
      <value>Owner</value>
      <value>Team Leader</value>
      <value>Team Member</value>
    </choice>
  </define>
  <!--
    
    
  -->
  <define name="iucn_threat_taxonomy">
    <documentation xmlns="">International Union for Conservation of Nature (IUCN) threat, habitat and  
strategy taxonomy formats. (Are there available somewhere on the web?  
If so, maybe link to them here for reference.) </documentation>
    <value>[T][0-9]{2,3}\.[0-9]{2,3}</value>
  </define>
  <define name="iucn_habitat_taxonomy">
    <value>[H][0-9]{2,3}\.[0-9]{2,3}</value>
  </define>
  <define name="iucn_strategy_taxonomy">
    <value>[A][0-9]{2,3}\.[0-9]{2,3}</value>
  </define>
</grammar>
